.countCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    align-items: baseline;
}
.space{
margin: 5px;
}
.wrap{
    flex-wrap: wrap;
}