.countCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    align-items: baseline;
}
.space{
margin: 5px;
}
.wrap{
    flex-wrap: wrap;
}
.CartWidgetCounter{
    position:relative;
    top: -20px;
    padding-bottom:10%;
    background:red;
    border-radius:50%;
  }
  .CartWidgetCounter h4{
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    color:white;
    font-size:12px;
    background: red;
    padding:2px 5px;
    border-radius:50%;
  }
  .loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  .spinner-grow-Center{
    width: 8rem;
    height: 8rem;
  }
  .spinner-grow-lat{
    display: flex;
    width: 5rem;
    height: 5rem;
   margin-top: 120px;
  }
  .colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
  }
  .mainTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .keys {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }
  .customContainer{
    position: relative;
    top:50px;
    flex-wrap: wrap;
    width: 100%;
    height: 40vh;
  }
  .left {
    position: relative;
    background: linear-gradient(135deg,
    rgba(91, 36, 122, 0.45) 0%,
    rgba(27, 206, 223, 0.55) 100%),
      url("https://images.pexels.com/photos/556663/pexels-photo-556663.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-size: cover;
    background-position: center;
    height: calc(100% + 80px);
    padding: 10px 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 10px;
  }
  